In [1]:
import pandas as pd
import numpy as np

In [2]:
# Series对象 一维的数据结构 + 1个索引(index)
series1 = pd.Series([1,2,3,4,5])

In [3]:
series1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# series对象的索引属性，label
series1.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
# DataFrame对象 二维的数据结构 + 1个行索引(index) + 1个列索引(columns)
# DataFrame对象每一列，当作一个Series对象来处理
dataframe1 = pd.DataFrame(np.arange(20).reshape(4,5), columns=["a","b","c","d","d"])
#获取dataframe1的第a列数据
series2 = dataframe1["a"]

In [7]:
series2

0     0
1     5
2    10
3    15
Name: a, dtype: int32

In [8]:
# 行索引
dataframe1.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
# 列索引
dataframe1.columns

Index(['a', 'b', 'c', 'd', 'd'], dtype='object')

### 索引

In [10]:
#series的索引 series[索引label]
series1[2]

3

In [52]:
#dataframe的索引操作
#
dict={"name":["张三","李四","王五","刘六"],"age":[18,26,20,30],"sex":["男","女","男","女"],"married":[False,True,False,True]}
df1 = pd.DataFrame(dict)
df1

  name  age sex  married
0   张三   18   男    False
1   李四   26   女     True
2   王五   20   男    False
3   刘六   30   女     True

In [20]:
#基本索引方式 索引列 dataframe[列label]   dataframe[[列label1,列label2]] 
df1["name"]

'李四'

In [25]:
#基本索引方式 索引列  dataframe[[列label1,列label2]] 
df1[["name","age"]]

  name  age
0   张三   18
1   李四   19
2   王五   20
3   刘六   30

In [19]:
# 基本索引方式，索引行 dataframe[:行序号]，必须要是切片方式
df1[2:]

  name  age sex  married
2   王五   20   男    False
3   刘六   30   女     True

In [22]:
# 基本索引方式 先索引列后索引行 dataframe[列label][行label]
df1["name"][1]

'李四'

In [23]:
# loc[行label, 列label]
df1.loc[1,"name"]

'李四'

In [27]:
# 切片，loc[:行label,:列label]  :后面的label会包括进去
df1.loc[:1,"name":"age"]
df1.loc[2:,"sex":"married"]

  sex  married
2   男    False
3   女     True

In [29]:
# loc花式索引 loc[[行label1,行label2],[列label1,列label2]]
df1.loc[[1,3],["name","married"]]

  name  married
1   李四    False
3   刘六     True

In [24]:
# iloc[行序号，列序号]
df1.iloc[1,0]

'李四'

In [30]:
#iloc[]也支持花式索引写法，切片写法 序号不包括:右侧的值
df1.iloc[:2,:2]

  name  age
0   张三   18
1   李四   19

In [34]:
#利用布尔索引条件筛选
#筛选年龄大于20的记录
bool_series = df1["age"] > 20
df1[bool_series]

  name  age sex  married
3   刘六   30   女     True

In [35]:
# 修改值,先索引要修改值，然后赋值
df1["age"][3] = 28

<ipython-input-35-c7800bc7c087>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["age"][3] = 28

In [38]:
# Series运算
ser2 = pd.Series(range(10))
ser3 = pd.Series(range(11))

In [39]:
# 两个series对象运算，缺失的行会以NaN填充
ser2 + ser3

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10     NaN
dtype: float64

In [41]:
# 标量运算, 算数运算、比较运算，逻辑运算 & | 
ser2 > 5

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
9     True
dtype: bool

In [42]:
# 和运算符类似
ser2.add(ser3)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10     NaN
dtype: float64

### 排序

In [44]:
### series
### 按照索引排序  ascending=False
ser2.sort_index(ascending=False)

9    9
8    8
7    7
6    6
5    5
4    4
3    3
2    2
1    1
0    0
dtype: int64

In [46]:
# 按照值排序 ascending=False
ser2.sort_values(ascending=False)

9    9
8    8
7    7
6    6
5    5
4    4
3    3
2    2
1    1
0    0
dtype: int64

In [49]:
##针对dataframe对象排序
#按照索引排序
df1.sort_index(ascending=False)

  name  age sex  married
3   刘六   28   女     True
2   王五   20   男    False
1   李四   19   女    False
0   张三   18   男    False

In [56]:
# 按照值排序 
# by指定排序依据的列
# inplace=True 操作会原dadaframe对象
df1.sort_values(by="married",ascending=False,inplace=True)

In [57]:
df1

  name  age sex  married
1   李四   26   女     True
3   刘六   30   女     True
0   张三   18   男    False
2   王五   20   男    False

In [61]:
# dataframe.describe()
# 展示大量的统计方法的结果
#添加一列分数
df1["score"]=[80,90,70,60]
df1.describe()
# count() 统计不为NaN数据个数
# mean() 统计平均值
# std()  统计标准差
# min() 统计最小值
# max() 统计最大值
# sum() 求和   （cumsum() 累计和）

             age      score
count   4.000000   4.000000
mean   23.500000  75.000000
std     5.507571  12.909944
min    18.000000  60.000000
25%    19.500000  67.500000
50%    23.000000  75.000000
75%    27.000000  82.500000
max    30.000000  90.000000

In [63]:
df1["age"].sum()

94

### 层次化索引

In [76]:
### 四川省、广东省 GDP、人口
# 创建一个tuple列表
tuple1 = [("四川省","成都市"),("四川省","绵阳市"),("四川省","自贡市"),("广东省","广州市"),("广东省","佛山市"),("广东省","中山市")]
array1 = [["四川省","四川省","四川省","广东省","广东省","广东省"],["成都市","绵阳市","自贡市","广州市","佛山市","中山市"]]
#GDP数据
gdp = [18000,3000,2000,20000,10000,3000]
#人口数据
population = [1200,300,250,1500,700,300]
#通过dict构造dataframe对象
dict1 = {"GDP":gdp,"人口":population}
#通过MultiIndex.from_tuples创建一个多层索引 name指定索引的名称
multi_index1 = pd.MultiIndex.from_tuples(tuple1,names=["行政省","行政市"])
#通过MultiIndex.from_arraysc创建一个多层索引
multi_index2 = pd.MultiIndex.from_arrays(array1,names=["省","市"])
#利用多层索引创建series对象
gdp_series = pd.Series(gdp, index=multi_index1)
# 利用多层索引创建dataframe对象
df2 = pd.DataFrame(dict1,index=multi_index1)
df3 = pd.DataFrame(dict1,index=multi_index2)

In [81]:
#针对值排序
df3.sort_values(by="GDP",ascending=False)

           GDP    人口
省   市
广东省 广州市  20000  1500
四川省 成都市  18000  1200
广东省 佛山市  10000   700
四川省 绵阳市   3000   300
广东省 中山市   3000   300
四川省 自贡市   2000   250

In [82]:
# 针对索引排序
df3.sort_index()

           GDP    人口
省   市
四川省 成都市  18000  1200
    绵阳市   3000   300
    自贡市   2000   250
广东省 中山市   3000   300
    佛山市  10000   700
    广州市  20000  1500

In [89]:
# series多层索引方式 series[外层索引] 拿到外层索引对应的记录
df3["人口"]["广东省"]

市
广州市    1500
佛山市     700
中山市     300
Name: 人口, dtype: int64

In [91]:
# series多层索引方式 series[外层索引,内层索引] 拿到外层和内层索引对应的记录
df3["GDP"]["四川省","成都市"]
df3["人口"]["广东省","中山市"]

300

In [90]:
#索引datafame对象，loc[外层索引, 列索引]
df3.loc["四川省","GDP"]
df3.loc["广东省","人口"]

市
广州市    1500
佛山市     700
中山市     300
Name: 人口, dtype: int64

In [74]:
gdp_series

行政省  行政市
四川省  成都市    18000
     绵阳市     3000
     自贡市     2000
广东省  广州市    20000
     佛山市    10000
     中山市     3000
dtype: int64

### 读写文件

In [117]:
#文本文件 csv
# pd.read_csv()读csv类型的文本文件 
# usecols参数指定需要从文本文件中读取的列
# index_col，读取文件时设置索引列
df3 = pd.read_csv("./data/sitka_weather_07-2014.csv",usecols=["AKDT","Max_TemperatureF","Mean_TemperatureF","Min_TemperatureF"])
# dataframe.head(数字)：看前几行
# dataframe.tail(数字):看后几行
df3.head()
df3.tail(10)

         AKDT  Max_TemperatureF  Mean_TemperatureF  Min_TemperatureF
21  2014-7-22                63                 59                55
22  2014-7-23                62                 58                55
23  2014-7-24                59                 57                54
24  2014-7-25                57                 55                53
25  2014-7-26                57                 55                53
26  2014-7-27                61                 58                55
27  2014-7-28                59                 56                53
28  2014-7-29                61                 56                51
29  2014-7-30                61                 57                54
30  2014-7-31                66                 58                50

In [98]:
#将dataframe对象存储到csv文件中 
# index=False，保存时不要保存索引
df3.to_csv("./weather.csv",index=False)

In [112]:
# dataframe.set_index() 设置索引
# AKDT列作为索引
df3["DATE"]= df3["AKDT"] # 复制一列
df3 = df3.set_index("DATE")

In [113]:
df3

                AKDT  Max_TemperatureF  Mean_TemperatureF  Min_TemperatureF
DATE
2014-7-1    2014-7-1                64                 56                50
2014-7-2    2014-7-2                71                 62                55
2014-7-3    2014-7-3                64                 58                53
2014-7-4    2014-7-4                59                 56                52
2014-7-5    2014-7-5                69                 59                50
2014-7-6    2014-7-6                62                 58                55
2014-7-7    2014-7-7                61                 57                55
2014-7-8    2014-7-8                55                 54                53
2014-7-9    2014-7-9                57                 55                53
2014-7-10  2014-7-10                61                 56                53
2014-7-11  2014-7-11                57                 56                54
2014-7-12  2014-7-12                59                 56                55
2014-7-13  2014-7-13                57                 56                55
2014-7-14  2014-7-14                61                 58                55
2014-7-15  2014-7-15                64                 58                55
2014-7-16  2014-7-16                61                 56                52
2014-7-17  2014-7-17                59                 55                51
2014-7-18  2014-7-18                63                 56                51
2014-7-19  2014-7-19                60                 57                54
2014-7-20  2014-7-20                57                 55                52
2014-7-21  2014-7-21                69                 60                52
2014-7-22  2014-7-22                63                 59                55
2014-7-23  2014-7-23                62                 58                55
2014-7-24  2014-7-24                59                 57                54
2014-7-25  2014-7-25                57                 55                53
2014-7-26  2014-7-26                57                 55                53
2014-7-27  2014-7-27                61                 58                55
2014-7-28  2014-7-28                59                 56                53
2014-7-29  2014-7-29                61                 56                51
2014-7-30  2014-7-30                61                 57                54
2014-7-31  2014-7-31                66                 58                50

In [114]:
# dataframe.reset_index() 重置索引
df3.reset_index()

,DATE,AKDT,Max_TemperatureF,Mean_TemperatureF,Min_TemperatureF
0,2014-7-1,2014-7-1,64,56,50
1,2014-7-2,2014-7-2,71,62,55
2,2014-7-3,2014-7-3,64,58,53
3,2014-7-4,2014-7-4,59,56,52
4,2014-7-5,2014-7-5,69,59,50
5,2014-7-6,2014-7-6,62,58,55
6,2014-7-7,2014-7-7,61,57,55
7,2014-7-8,2014-7-8,55,54,53
8,2014-7-9,2014-7-9,57,55,53
9,2014-7-10,2014-7-10,61,56,53
10,2014-7-11,2014-7-11,57,56,54
11,2014-7-12,2014-7-12,59,56,55
12,2014-7-13,2014-7-13,57,56,55
13,2014-7-14,2014-7-14,61,58,55
14,2014-7-15,2014-7-15,64,58,55
15,2014-7-16,2014-7-16,61,56,52
16,2014-7-17,2014-7-17,59,55,51
17,2014-7-18,2014-7-18,63,56,51
18,2014-7-19,2014-7-19,60,57,54
19,2014-7-20,2014-7-20,57,55,52
20,2014-7-21,2014-7-21,69,60,52
21,2014-7-22,2014-7-22,63,59,55
22,2014-7-23,2014-7-23,62,58,55
23,2014-7-24,2014-7-24,59,57,54
24,2014-7-25,2014-7-25,57,55,53
25,2014-7-26,2014-7-26,57,55,53
26,2014-7-27,2014-7-27,61,58,55
27,2014-7-28,2014-7-28,59,56,53
28,2014-7-29,2014-7-29,61,56,51
29,2014-7-30,2014-7-30,61,57,54
30,2014-7-31,2014-7-31,66,58,50

In [118]:
# dataframe.reindex()   重新索引, 作用就是筛选记录
df3.reindex(range(3,10))

        AKDT  Max_TemperatureF  Mean_TemperatureF  Min_TemperatureF
3   2014-7-4                59                 56                52
4   2014-7-5                69                 59                50
5   2014-7-6                62                 58                55
6   2014-7-7                61                 57                55
7   2014-7-8                55                 54                53
8   2014-7-9                57                 55                53
9  2014-7-10                61                 56                53

In [139]:
#读取stock_day.csv文件 保留open,high,close,low,volume列, dataframe.drop()删除掉ma5,ma10,ma20,v_ma5,v_ma10,v_ma20 
df5 = pd.read_csv("./data/stock_day.csv", usecols=["open","high","close","low","volume"], index_col=0)
df6 = pd.read_csv("./data/stock_day.csv")

In [143]:
#drop方法删除了2列
df6 = df6.drop(["ma5","ma10"], axis=1)

In [145]:
df6.to_csv("./stock_bak.csv", columns=["open","high","close"])

In [134]:
df5.drop(["volume"],axis=1)
del df5["low"]

In [138]:
#存到stock_back.csv, 只要open,high,close列，使用columns参数指定要保存的列
df5.to_csv("./stock_back.csv", columns=["open","high","close"])

In [150]:
#读excel表格数据
df7 = pd.read_excel("./data/employee.xlsx")
#保存到excel表格中
df7.to_excel("./employee_bak.xlsx",columns=["name","job"], index=False)

In [158]:
#读json数据文件
df7.to_json("./employee_back.json", orient="table")
#pd.read_json("./data/Sarcasm_Headlines_Dataset.json",orient="records",lines=True)

In [160]:
#读取mysql数据库
# pip install mysql-connector 安装
from sqlalchemy import create_engine
#创建连接
#连接字符串格式 ：数据库+数据库驱动://登录名:密码@主机地址:端口号/数据库名
conn = create_engine("mysql+mysqlconnector://root:12345@127.0.0.1:3306/j210301")

In [207]:
#columns指定要那些列
#index_col可以指定索引
pd.read_sql_table('user', conn, columns=["name","sex"],index_col="id")

   name  sex
id
1   张三1    1
2   李四1    1
3    王五    1
4    刘六    0
5    翠花    0

In [168]:
#执行sql查询
df8 = pd.read_sql_query("select * from user", conn)

In [167]:
#可以执行sql的增删改，一般不会用pandas去做
pd.read_sql_query("update user set password='123456' where id =1", conn)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [173]:
df8.to_sql("user",conn,if_exists="append", index=False)

IntegrityError: (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '1' for key 'PRIMARY'
[SQL: INSERT INTO user (id, name, sex, address, phone, email, username, password, createtime) VALUES (%(id)s, %(name)s, %(sex)s, %(address)s, %(phone)s, %(email)s, %(username)s, %(password)s, %(createtime)s)]
[parameters: ({'id': 1, 'name': '张三1', 'sex': 1, 'address': '重庆', 'phone': '18944444444', 'email': 'zhangsan@qq.com', 'username': 'zhangsan', 'password': '123456', 'createtime': datetime.datetime(2021, 4, 24, 15, 29, 48)}, {'id': 2, 'name': '李四1', 'sex': 1, 'address': '重庆', 'phone': '18988888888', 'email': 'lisi1@qq.com', 'username': 'lisi', 'password': '111111', 'createtime': datetime.datetime(2021, 4, 22, 15, 29, 2)}, {'id': 3, 'name': '王五', 'sex': 1, 'address': '重庆', 'phone': '18977777777', 'email': 'wangwu@qq.com', 'username': 'wangwu', 'password': '123456', 'createtime': datetime.datetime(2021, 4, 22, 15, 29, 15)}, {'id': 4, 'name': '刘六', 'sex': 0, 'address': '贵州', 'phone': '18966666666', 'email': 'liuliu@qq.com', 'username': 'liuliu', 'password': '123456', 'createtime': datetime.datetime(2021, 4, 22, 15, 37, 33)}, {'id': 5, 'name': '翠花', 'sex': 0, 'address': '山东', 'phone': '18900000001', 'email': 'cuihua@qq.com', 'username': 'cuihua', 'password': '123456', 'createtime': datetime.datetime(2021, 4, 22, 15, 43, 59)})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [ ]:
#案例 分析scores.xlsx表格中的数据，解决如下问题：
#问题1：一本文理科与二本文理科最高的分数线是多少，最低的分数线是多少，相差多少分
#问题2：2020年与2019年想比，一本文理科与二本文理科变化了多少分
#问题3:  求2010年至2020年每科分数线的平均值

In [179]:
#header参数指定头部（列索引）使用的行号，这里层次化索引用到了前2行
#index_col参数可以指定作为索引的列，这里使用第0列为行索引
df9 = pd.read_excel("./data/scores.xlsx", index_col=0, header=[0,1])
df9

     一本分数线      二本分数线
        文科   理科    文科   理科
2017   553  511   470  436
2010   543  512   483  441
2019   540  547   472  459
2011   533  519   473  448
2012   516  518   454  445
2016   540  532   480  453
2020   527  529   459  443
2018   553  546   492  458
2013   567  562   505  492
2015   543  528   473  445
2014   551  540   500  475

In [182]:
#问题1：一本文理科与二本文理科最高的分数线是多少，最低的分数线是多少，相差多少分
#得到每一列的最大值：即最高的分数线
#df9.max()
#得到每一列的最小值：即最低的分数线
#df9.min()
#相差多少分
series5 = df9.max() - df9.min()
# 一本分数线文科，最高分数比最低分数多
series5["一本分数线","文科"]

51

In [188]:
#问题2：2020年与2019年想比，一本文理科与二本文理科变化了多少分
# 根据行索引2020和2019进行查询行记录
# 解法1、
#拿2020年记录
data_2020 = df9.sort_index(ascending=False)[:1]
#拿2019年记录
data_2019 =  df9.sort_index(ascending=False)[1:2]

In [196]:
# 2020年一本文课与2019年一本文件变化分数为
data_2020["一本分数线","文科"][2020] - data_2019["一本分数线","文科"][2019]

-13

In [200]:
# 解法2
# loc[] 索引出2020年的所有列的数据
ser1 = df9.loc[2020,:]
# 索引出2019年的所有列的数据
ser2 = df9.loc[2019,:]

In [202]:
ser3 = ser1- ser2
# 2020年一本文课与2019年一本文件变化分数为
ser3["一本分数线","文科"]

-13

In [205]:
#问题3:  求2010年至2020年每科分数线的平均值
#df9.describe()
ser3 = df9.mean()
# 2010年至2020年一本分数线文科的平均值
ser3["一本分数线","文科"]

542.3636363636364