In [1]:
#拆分
#应用
#合并 
# mysql 数据库关键字 ：group by
import pandas as pd
import numpy as np

In [28]:
#分组操作
df1 = pd.DataFrame({"key":["a","b","c","d","a","b","c","c","a","b"],"A":[1,2,3,4,5,6,7,8,9,10],"B":[10,20,30,40,50,60,70,80,90,100]})
#通过某列进行分组
groupby_column = df1.groupby(by="key")

In [6]:
#认识分组对象
#可以迭代，可以遍历
#分组对象遍历时，每一个item为一个元组，该元组种有个两个元素，
#第一个元素为分组名，第二个就是该分组中的数据集（子dataframe对象）
for item in groupby_column:
    print(item)

('a',   key  A
0   a  1
4   a  5
8   a  9)
('b',   key   A
1   b   2
5   b   6
9   b  10)
('c',   key  A
2   c  3
6   c  7
7   c  8)
('d',   key  A
3   d  4)

In [8]:
for x,y in groupby_column:
    print(x)
    print(y)

a
  key  A
0   a  1
4   a  5
8   a  9
b
  key   A
1   b   2
5   b   6
9   b  10
c
  key  A
2   c  3
6   c  7
7   c  8
d
  key  A
3   d  4

In [10]:
# python全局内置函数dict()
#使用dict(元组列表)构建字典
dict1 = dict([("a",1),("b",2),("c",3)])
#通过字典的key找value
dict1["a"]

1

In [13]:
#通过列表推导式来构建分组对象的数据结构（字典）
#构造出一个元组列表，该元组中第一个元素就是分组名，第二个元素就是该分组的数据集，dataframe
list1 = [(x,y) for x,y in groupby_column]
#通过构造一个字典
dict2 = dict(list1)
#索引a分组的数据集，dataframe对象
dict2["b"]

  key   A
1   b   2
5   b   6
9   b  10

In [16]:
#bool索引也可以做同样的事 筛选key=="a"的数据集
df1[df1["key"] == "a"]

  key  A
0   a  1
4   a  5
8   a  9

In [20]:
#通过一个列表进行分组
#感觉上相当于将list2加到df1中作为一列,然后再争对这一列进行分组，list2中相同的元素作为分组名
list2 = ["e","f","g","h","e","f","g","h","e","e"]
groupby_list = df1.groupby(by=list2)
for x,y in groupby_list:
    print(x)
    print(y)

e
  key   A
0   a   1
4   a   5
8   a   9
9   b  10
f
  key  A
1   b  2
5   b  6
g
  key  A
2   c  3
6   c  7
h
  key  A
3   d  4
7   c  8

In [21]:
#通过series对象来分组
#相当于，使用series对象的索引来筛选一下df1，再分组
series1 = pd.Series(["e","f","g","h","e","f"])
groupby_series = df1.groupby(by=series1)
for x,y in groupby_series:
    print(x)
    print(y)

e
  key  A
0   a  1
4   a  5
f
  key  A
1   b  2
5   b  6
g
  key  A
2   c  3
h
  key  A
3   d  4

In [22]:
#聚合
#使用聚合函数对分组对象操作
#count() 统计的是不NaN的记录数
#max()最大值，min()最小值，mean()平均值, sum()求算数和，std()标准差, describe()
#聚合之后的新的dataframe的结构：行索引就是分组名的集合
#{"key":["a","b","c","d","a","b","c","c","a","b"],"A":[1,2,3,4,5,6,7,8,9,10]}
groupby_df = groupby_column.count()

     A
key
a    3
b    3
c    3
d    1

In [29]:
#{"key":["a","b","c","d","a","b","c","c","a","b"],"A":[1,2,3,4,5,6,7,8,9,10]}
groupby_column.min()

     A   B
key
a    1  10
b    2  20
c    3  30
d    4  40

In [30]:
#groupby.agg(func) aggregate(func) func可以是函数名（字符串），也可以是函数
#使用内置函数
groupby_column.agg(max)

      A    B
key
a     9   90
b    10  100
c     8   80
d     4   40

In [33]:
#自定义函数求极差，最大值-最小值
def max_min(series):
    return series.max()-series.min()
#agg传递了一个自定义的函数
groupby_column.agg(max_min)

     A   B
key
a    8  80
b    8  80
c    5  50
d    0   0

In [34]:
#练习，使用雇员表的数据，求各职位job的员工的平均薪资salary
#创建dataframe
employee_df = pd.read_excel("./data/employee.xlsx")

In [37]:
#对job列分组，对每个分组的所有列的记录求平均值
salary_df = employee_df.groupby(by="job").mean()
#把不要的列删除
del salary_df["id"]
del salary_df["level"]
del salary_df["bonus"]

In [38]:
salary_df

       salary
job
总经理    2800.0
技术总监   4800.0
研发工程师  4500.0
网络管理员  3200.0
行政专员   2800.0
财务专员   2800.0
财务总监   3800.0
销售专员   2800.0
销售经理   2800.0
高级工程师  4800.0

In [43]:
#练习：查出至少有一个员工的部门。显示部门编号、部门名称、部门位置、部门人数。
department_df = pd.read_excel("./data/department.xlsx")

# 统计各个部门人数信息
#对部门编号分组，统计个数
employee_count_df = employee_df.groupby(by="department_NO").count()
employee_count_ser = employee_count_df["id"]
#重命名employee_count_ser，把id改名为"部门人数"
employee_count_ser.rename("部门人数", inplace=True)

department_NO
D2019060001    1
D2019060002    1
D2019060011    2
D2019060012    4
D2019060013    2
D2019060014    2
D2019090001    2
D2019090011    1
D2020010001    1
Name: 部门人数, dtype: int64

In [51]:
# 使用join或merge合并部门表信息
# 使用merge合并部门人数series对象和department_df,使用内连接方式
#merged_df = pd.merge(department_df,employee_count_ser,left_on="number", right_on="department_NO", how="inner")
# on指定department_df的number列匹配部门人数seriers的行索引
merged_df = department_df.join(employee_count_ser,on="number", how="inner")
del merged_df["id"]
del merged_df["super_NO"]

In [52]:
merged_df

         number  name location  部门人数
2   D2019060001  成都中心       成都     1
3   D2019060002  武汉中心       武汉     1
4   D2019090001  上海中心       上海     2
5   D2020010001  广州中心       广州     1
6   D2019090011   财务部       上海     1
8   D2019060011   财务部       成都     2
9   D2019060012   技术部       成都     4
10  D2019060013   网络部       成都     2
11  D2019060014   市场部       成都     2